@model IEnumerable<Prototype.Models.Book>
@{
    ViewData["Title"] = "Index";
}

@using(Html.BeginForm("Index", "Catalog", FormMethod.Get))
{
    <div class="input-group mb-3">
        @Html.TextBox("searching")
        <input type="submit" value="search" class="ml-2 btn btn-primary" />
    </div>
}

<div class="container p-3">
    <div class="row pt-4 ">
        <div class="col-6">
            <h2 class="text-primary">Book list</h2>
        </div>
        <div class="col-6">
            <a asp-area="" asp-controller="Catalog" asp-action="Create" class="btn btn-primary float-right">Add new book</a>
        </div>
    </div>
    <br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th class="col-4">Book Name</th>
                <th class="col-4">Publisher</th>
                <th class="col-4">Author</th>
            </tr>
        </thead>
        <tbody>
            @foreach  (var book in Model)
            {
                <tr>
                    <td class="col-4"><a asp-controller="Catalog" asp-action="Detail" asp-route-id="@book.ID">@book.Name</a></td>
                    <td class="col-4">@book.Publisher</td>
                    <td class="col-4">@book.Author</td>
                </tr> 
            }
        </tbody>
    </table>
    
</div>

